* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(https://picsum.photos/1920/1080?random=1);
    background-size: cover;
}

.main {
    backdrop-filter: blur(5px); /* Apply blur effect */
    width: 35%;
    display: flex;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    flex-direction: column;
}

.top {
    font-size: 25px;
    padding: 1em;
    font-family: "Scada", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.middle {
    padding: 0.2em;
    font-size: 128px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.bottom {
    width: 70%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.buttons {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    padding: 16px;
    font-size: 18px;  
    overflow: hidden;
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    display: flex;
    justify-content: center;
}

.buttons:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}